* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #fff;
    --cor2: #222;
    --cor3: #777;
    --cor4: #bbb;
    --cor5: #ccc;
}

body {
    min-height: 340vh;
    background: var(--cor1); 
}

h1 {
    cursor: default;
}

.inicio {
    width: 100%;
    height: 200vh;
}

.inicio .titulo {
    position: fixed;
    top: 59%;
    width: 60%;
    right: 0;
    text-align: center;
    transform: translatey(-50%);
    color: var(--cor2);
    z-index: 1;
    font-size: 10vw;
}

.inicio .caixa-de-rolagem {
    position: absolute;
    height: 37px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.inicio .caixa-de-rolagem .rolagem {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--cor2);
    transition: 1s;
    font-size: 1.6em;
}

.rolagem::before {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
    width: 20px;
    height: 20px;
    background: transparent;
    z-index: 2;
    border-left: 5px solid var(--cor2);
    border-top: 5px solid var(--cor2);
    border-radius: 5px;
}

.rolagem::after {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
    width: 20px;
    height: 20px;
    background: transparent;
    z-index: 2;
    border-left: 5px solid var(--cor2);
    border-top: 5px solid var(--cor2);
    border-radius: 5px;
}

.ajustes {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
}

.inicio .pagina-inicial {
    background: var(--cor2);
    z-index: 2;
    transition: .1s;   
    clip-path: circle(0px at bottom center);
}

.inicio .pagina-inicial .minha-foto {
    width: 40%;
    height: 100%;
    background-image: url(../imgs/minhafoto1.jpg);
    background-size: cover;
    background-position: center;
}

.inicio .pagina-inicial .segunda-pagina {
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
}

.inicio .pagina-inicial .segunda-pagina .segundo-titulo {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 10vw;
}

.inicio .pagina-inicial .segunda-pagina .galeria{
    height: 100vh;
    z-index: 3;
    background: var(--cor5);   
    clip-path: circle(0px at bottom center);
}

.galeria .exibicao-de-fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    padding-top: 0;
}

.galeria .exibicao-de-fotos .foto {
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.galeria .exibicao-de-fotos .foto .imagem {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    opacity: 1;
}
.galeria .exibicao-de-fotos .foto:hover .imagem {
    opacity: 0;
}

.galeria .exibicao-de-fotos .foto .imagem img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria .exibicao-de-fotos .foto .numeracao-da-foto {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0;
    transition: .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria .exibicao-de-fotos .foto:hover .numeracao-da-foto {
    opacity: 1;
}

.galeria .exibicao-de-fotos .foto:hover .numeracao-da-foto span {
    font-size: 1.7em;
    color: white;
}