@media (max-width:750px) {
    .inicio {
        width: 100%;
        height: 100%;
    }

    .inicio .titulo{
        text-align: center;
        padding: 0; 
        font-size: 14vw;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translatey(-59%);
    }

    .inicio .caixa-de-rolagem {
        font-size: 0.9em;
    }

    .inicio .pagina-inicial .minha-foto {
        width: 100%;
        font-size: 14vw;
    }

    .inicio .pagina-inicial .segunda-pagina {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.2);
    }

    .inicio .pagina-inicial .segunda-pagina .segundo-titulo {
        color: var(--cor1);
        width: 100%;
        height: 100%;
        inset: 0;
        font-size: 14vw;
        text-shadow: 1px 2px 15px black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .galeria .exibicao-de-fotos .foto {
        height: 200px;
    }
}